html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/* global */
body { font-family: Verdana, Helvetica, sans-serif; font-weight: normal; font-size: 100%; line-height: 1.4; color: #003772; background-color: #000; }

img { width: auto\9; height: auto; max-width: 100%; vertical-align: middle; border: 0; -ms-interpolation-mode: bicubic; }

a { color: #003772; background: transparent; }

a:hover { color: #fff; text-decoration: none; }

a:active, a:hover { outline: 0; }
/*canvas */
.p-canvas-webgl {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}
@font-face {
    font-family: 'MyCanvasFont';
    src: url('../fonts/survival-horror.eot'); /* IE9 Compat Modes */
    src: url('../fonts/survival-horror.woff') format('woff'), /* Modern Browsers */
    url('../fonts/survival-horror.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/survival-horror.svg') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'MyWebFont';
    src: url('../fonts/icomoon.eot'); /* IE9 Compat Modes */
    src: url('../fonts/icomoon.woff') format('woff'), /* Modern Browsers */
    url('../fonts/icomoon.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/icomoon.svg') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'MyWebCFont';
}


.p-summary {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    color: #fff;
    font-family: 'Homenaje', sans-serif;
}
.p-summary h1 {
    margin: 0 0 0.2em;
    font-size: 42px;
    font-weight: 400;
    letter-spacing: 0.05em;
}
.p-summary p {
    margin: 0;
    font-size: 1.1rem;
    letter-spacing: 0.1em;
}
.p-summary a {
    color: #fff;
}
.cd-main-content .center .cd-btn{
    font-family:"MyCanvasFont","MyWebCFont",宋体, serif;
}
@media (min-width: 1200px){

}
@media (max-width: 1199px){

}
@media (max-width: 991px){

}
@media (max-width: 767px){
    body{background-image:url("../img/1.jpg")}
    .cd-main-content .center{padding: 0px 20px;}
    .cd-main-content .center .cd-btn{padding: 7px;font-size: 20px;width: 260px;}
    .p-canvas-webgl{display: none;}
    
}
@media (max-width: 480px){

}
